// Variables Globales
$mainColor : #FC3F92;
$mainWidth: 100%;
$colorWhite: #FFFFFF;
$colorBlack: #000000;
$colorArticle: #ffedcc;
$fontTitle: 'Josefin Sans', sans-serif;
$fontBody : 'PT Sans', sans-serif;
$colorMainGrey: #1f1d1e;
$colorBlackRgba: rgba(0,0,0,0.5);
$openBold: 'Open Sans', sans-serif;
$borderColor: #dbd7cb;